/*
 * userChrome.css - Force sidebar to stay collapsed unless actually hovered.
 * Hacky workaround for: https://bugzilla.mozilla.org/show_bug.cgi?id=1985692
 *
 * We apply styling to force the 'collapsed' behavior of the sidebar at all times.
 * We then override some of these with CSS :hover or :active states, which only
 * kick in in the situation you expect (your cursor is *actually* over the sidebar).
 *
 * I'm sure for some these there's a nicer way than what I did of just sorta eyeballing
 * it on my personal machine, but that's what PRs are for :)
 */
body {
  /* The sidebar itself and its descendants */
  & #sidebar-main {
    width: 58px !important;           /* As of time of writing 58px is the collapsed size. Tried using var(--sidebar-launcher-collapsed-width) and it suddenly returned 0px so I'm prolly just being dumb */
    will-change: width !important;    /* Inform the browser this property will change, which apparently makes it more efficient so shrug guess so */
    border: none !important;          /* Unhovered it doesn't have a border, so it shouldn't have one now either */

    /* Handle Tabs */
    & #tabbrowser-tabs {
      /* Hide the close button */
      & image.tab-close-button {
        opacity: 0;
      }

      /* Don't show the text 'New Tab' */
      & label.toolbarbutton-text {
        display: none !important; 
      }

      /* Don't let the New Tab plus icon shift - keep the same width as normal. */
      & #tabs-newtab-button {
        width: var(--tab-collapsed-background-width) !important;
      }

      /* Ensure tab backgrounds don't expand past their expected width when collapsed. */
      & .tab-background {
        width: var(--tab-collapsed-background-width);
      }
    }
  }

  /* The sidebar-button isn't a child of the sidebar, which is why this all is under body {}
   * We force the button to keep using the 'collapsed' image, and hide the highlight. */
  & #sidebar-button {
    list-style-image: url("chrome://browser/skin/sidebar-collapsed.svg") !important;

    & .toolbarbutton-badge-stack {
      background-color: transparent !important;
    }
  }
}

/* If hovered or active, the sidebar is expanded */
body:has(#sidebar-main:hover, #sidebar-main:active) {
  /* Ensure the sidebar exhibits the right behavior when expanded. */
  & #sidebar-main {
    /* Bring the sidebar out to its full width, but use margin-inline-end to lie to the layout about its actual width
     * This combined with the higher z-index ensures that no layout changes occur. */
    width: 250px !important;
    margin-inline-end: -192px !important;    /* Sidebar is 58px. 250 - 58 = 192. Doing 250 - 192 means the final layout is the same 58px, even expanded. */
    z-index: 9999 !important;                /* Ensures the sidebar draw above everything else. */

    /* Ensure the expanded sidebar uses the dark theme color. Light theme just uses 'white'. */
    background-color: rgb(28, 27, 34); 

    /* Ensure the vertical tab labels are positioned correctly. */
    & .tab-label-container {
      display: flex !important;
      margin-left: 8px;
    }

    /* Make the tab image not take up more space than it should. */
    & .tab-icon-image {
      margin-inline-end: 0px !important; 
    }

    & #tabbrowser-tabs {
      /* Make sure the tab close button is visible. */
      & image.tab-close-button {
        opacity:1;
      }

      /* Show the 'New Tab' text. */
      & label.toolbarbutton-text {
        display: flex !important; 
      }

      /* Revert the override. */
      & #tabs-newtab-button {
        width: 100% !important;
      }

      /* Revert the override. */
      & .tab-background {
        width: 92% !important;
      }
    }
  }

  /* Ensure the sidebar-button shows the correct image after all. */
  & #sidebar-button {
    list-style-image: url("chrome://browser/skin/sidebar-expanded.svg") !important;

    & .toolbarbutton-badge-stack {
      background-color: rgba(207, 207, 216, 0.4) !important; /* This is for dark theme. Light mode is just rgb(207, 207, 216) */
    }
  }
}